    <a id="article-anch4" class="anch col-md-12 d-none d-md-block"></a>
<div class="container m-a parallax2">
    <div class="row p-30 mb-10 bk3 mt-10 white shadow">
        <h1 class=" col-4 color4 mt-20 ">
                <img src="{{ theme.link }}/assets/img/armor-white.png" class="w-30 p-10 d-inline-block" alt="armes de {{ site.title }} ">Vidéo
                {% include 'partial/anchors/anchor5.twig' %}
        </h1>
        <div class="col-12 col-md-8 m-a p-30 mt30 bk3">
           <div class="w-80 m-a ">{{ post.get_field('iframe') }}</div> 
        </div>  
        
    </div>
</div>