// background-color
.bk1 {
  background-color: $color1;
}

.bk2 {
  background-color: $color2;
}

.bk3 {
  background-color: $color3;
}

.bk4 {
  background-color: $color4;
}

.bk5 {
  background-color: $color5;
}

.bk6 {
  background-color: $color6;
}

.bk7 {
  background-color: $color7;
}

.bk8 {
  background-color: $color8;
}
.bk9{
    background-color: $color9;
}
.bkgreen{
  background-color: greenyellow !important;
}
.bkred{
  background-color: red !important;
}

// background-image

.url1 {
  background-image: $url1;
}

.url2 {
  background-image: $url2;
}

.url3 {
  background-image: $url3;
}

.url4 {
  background-image: $url4;
}

.url5 {
  background-image: $url5;
}

.url6 {
  background-image: $url6;
}
 .url7 {
   background-image: $url7;
 }
 .url8 {
   background-image: $url8;
 }
 .url9 {
   background-image: $url9;
 }
 .url10 {
   background-image: $url10;
 }
 .url11 {
   background-image: $url11;
 }
 .url12 {
   background-image: $url12;
 }
 .url13 {
   background-image: $url13;
 }
 .url14 {
   background-image: $url14;
 }
.url15 {
   background-image: $url15;
 }
 .url16 {
   background-image: $url16;
 }
 .url17 {
   background-image: $url17;
 }
 .url18 {
   background-image: $url18;
 }
 .url19 {
   background-image: $url19;
 }
 .url20 {
   background-image: $url20;
 }



.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0;
}

.parallax-bis {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70% 30%;

}

.parallax2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;


}


// opacity
.op3 {
  opacity: 0.3;
}

.op5 {
  opacity: 0.5;
}

.op6 {
  opacity: 0.6;
}

.op7 {
  opacity: 0.7;
}

.op8 {
  opacity: 0.8;
}

.parallax {

  background-repeat: no-repeat;
  background-size: contain;

}

.parallax2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 500px 400px;

}
.parallax4 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;

}