
table{
    border-collapse: collapse !important;
}
// ---------------- border -------------------------------
.brd-c1{
  border-color: $color1 !important;
}
.brd-c2{
  border-color: $color2 !important;
}
.brd-c3{
  border-color: $color3 !important;
}
.brd-c4{
  border-color: $color4 !important;
}
.brd-c5{
  border-color: $color5 !important;
}
.brd-c6{
  border-color: $color6 !important;
}
.brd-c7{
  border-color: $color7 !important;
}
.brd-c8{
  border-color: $color8 !important;
}
.brd-green{
    border-color: greenyellow !important;
}

// ------------------border solid -----------------------------
.brd1{
    border: solid 1px;
}

.brd2{
    border: solid 2px;
}
.brd3{
    border: solid 3px;
}
.brd4{
    border: solid 4px;
}
.brd5{
    border: solid 5px;
}


// ------------------border-left solid -----------------------------
.brd-l1{
    border-left: solid 1px;
}

.brd-l2{
    border-left: solid 2px;
}
.brd-l3{
    border-left: solid 3px;
}
.brd-l4{
    border-left: solid 4px;
}
.brd-l5{
    border-left: solid 5px;
}
// ------------------border-right solid -----------------------------
.brd-r1{
    border-right: solid 1px;
}

.brd-r2{
    border-right: solid 2px;
}
.brd-r3{
    border-right: solid 3px;
}
.brd-r4{
    border-right: solid 4px;
}
.brd-r5{
    border-right: solid 5px;
}
// ------------------border-bottom solid -----------------------------
.brd-b1{
    border-bottom: solid 1px;
}

.brd-b2{
    border-bottom: solid 2px;
}
.brd-b3{
    border-bottom: solid 3px;
}
.brd-b4{
    border-bottom: solid 4px;
}
.brd-b5{
    border-bottom: solid 5px;
}
// ------------------border-top solid -----------------------------
.brd-t1{
    border-top: solid 1px;
}

.brd-t2{
    border-top: solid 2px;
}
.brd-t3{
    border-top: solid 3px;
}
.brd-t4{
    border-top: solid 4px;
}
.brd-t5{
    border-top: solid 5px;
}
// ------------------radius -----------------------------------

.r10{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px ;
  border-radius: 10px;
}
.r20{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.r30{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.r50{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.r-10{
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}
.r-20{
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
}
.r-30{
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  border-radius: 30%;
}
.r-50{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}