// --------------------- Propriété de couleurs
//-----------------fonts

//custom color 1
.color1{
  color: $color1 !important;
}
//custom color 2
.color2{
  color: $color2 !important;
}
//custom color 3
.color3{
  color: $color3 !important;
}
//custom color 4
.color4{
  color: $color4 !important;
}
//custom color 5
.color5{
  color: $color5 !important;
}
//custom color 6
.color6{
  color: $color6 !important;
}
//custom color 7
.color7{
  color: $color7 !important;
}
//custom color 8
.color8{
  color: $color8 !important;
}

// ROUGE primaire = Pour les icones et mentions importants (erreur, danger), et autres
.red{
  color:red !important;
}
// VERT-JAUNE = Success, etc.
.green{
  color: greenyellow !important;
}
//Bleu Primaire
.blue{
  color: blue !important;
}
//NOIR
.black{
  color:black !important;
}
//BLANC
.white
{
  color:white !important;
}
.yellow{
  color: yellow !important;
}
//-----------------Background

//custom bk-color 1
.bk-color1{
  background-color: $color1 !important;
}
//custom bk-color 2
.bk-color2{
  background-color: $color2 !important;
}
//custom bk-color 3
.bk-color3{
  background-color: $color3 !important;
}
// ROUGE primaire = Pour les icones et mentions importants (erreur, danger), et autres
.bk-red{
  background-color:red !important;
}
// VERT-JAUNE = Success, etc.
.bk-green{
  background-color: greenyellow !important;
}
//Bleu Primaire
.bk-blue{
  background-color: blue !important;
}
//NOIR
.bk-black{
  background-color:black !important;
}
//BLANC
.bk-white
{
  background-color:white !important;
}
bk-yelow {
  background-color: yellow !important;
}
//-----------------Border

//custom brd-color 1
.brd-color1{
  border-color: $color1 !important;
}
//custom brd-color 2
.brd-color2{
  border-color: $color1 !important;
}
//custom brd-color 3
.brd-color3{
  border-color: $color1 !important;
}
// ROUGE primaire = Pour les icones et mentions importants (erreur, danger), et autres
.brd-red{
  border-color: red !important;
}
// VERT-JAUNE = Success, etc.
.brd-green{
  border-color: greenyellow !important;
}
.brd-yellow {
  border-color: yellow !important;
}
//Bleu Primaire
.brd-blue{
  border-color: blue !important;
}
//NOIR
.brd-black{
  border-color:black !important;
}
//BLANC
.brd-white
{
  border-color:white!important;

}