//Typos
.font1 {
  font-family: 'Roboto', serif;
}
.font2{
  font-family: 'Caveat', cursive;

}
//.font3{
//  font-family: 'Alegreya', serif;
//
//}

// Epaisseur de caractère

.bold{
  font-weight: bold;
}

.bold-900{
  font-weight: 900;
}
.bold-600{
  font-weight: 600;
}
.bold-300{
  font-weight: 300;
}

// style, décoration de caractere, alignement

//italique
.italic{
  font-style: italic;
}
//souligné
.underline
{
  text-decoration: underline;
}

//text-align
.t-a-left{
  text-align: left;
}
.t-a-center{
  text-align: center;
}
.t-a-right{
  text-align: right;
}

// font-size

//.t0{
//  font-size: $t0 !important;
//}
//
//.t1{
//  font-size: $t1 !important;
//}
//.t2{
//  font-size: $t2 !important;
//}
//.t3{
//  font-size: $t3 !important;
//}
//.t4{
//  font-size: $t4 !important;
//}
//.t5{
//  font-size: $t5 !important;
//}
.t6{
  font-size: $t6 !important;
}
.t7{
  font-size: $t7 !important;
}
.t8{
  font-size: $t8 !important;
}
.t9{
  font-size: $t9 !important;
}
.t10{
  font-size: $t10 !important;
}
.t11{
  font-size: $t11 !important;
}
.t12{
  font-size: $t12 !important;
}

// line-height

//.lh0{
//  line-height: $t0 !important;
//}
//
//.lh1{
//  line-height: $t1 !important;
//}
//.lh2{
//  line-height: $t2 !important;
//}
//.lh3{
//  line-height: $t3 !important;
//}
//.lh4{
//  line-height: $t4 !important;
//}
//.lh5{
//  line-height: $t5 !important;
//}
.lh6{
  line-height: $t6 !important;
}
.lh7{
  line-height: $t7 !important;
}
.lh8{
  line-height: $t8 !important;
}
.lh9{
  line-height: $t9 !important;
}
.lh10{
  line-height: $t10 !important;
}
.lh11{
  line-height: $t11 !important;
}
.lh12{
  line-height: $t12 !important;
}



