// large desktop
@media screen and (min-width:1500px){
article{
    width: 80% !important;
    margin: auto !important;
}
h1{
    font-size : $t11 !important;
}
h2{
    font-size: $t10 !important;
}
h3{
    font-size: $t9 !important;
}
h4{
    font-size: $t8 !important;
}
h5{
    font-size: $t7 !important;
}
h6{
    font-size: $t6 !important;
}
p, div, legend, input, select, ul, li, table, {
    font-size: $t3 !important;
}
 .fa-angle-left, .fa-angle-right,.fa-chevron-down,.fa-chevron-up{
        font-size: 100px !important;
    }
}