<h2 class=" m-a">
    <span class="color4 bk3 p-10">
        <i class="white fal fa-clock"></i> {{ time|date('j F Y')|upper }}
    </span>
</h2>
<p class="white w-50 t-a-center m-a">
    
    {{dynamic_sidebar2}}
    
</p>
