<div class="row bk3 r20 brd1 brd-c4 white p-10">
    <div class="col-6 m-a col-md-4">
    <img src=" {{ item.thumbnail.src }}" alt=" {{ item.thumbnail.alt }} "></div>
    <h2 class="col-12 col-md-8">
        {{ item.title }}
    </h2>
</div>