
<div class="t-a-center white d-block p-10 footer-widget col-12 col-md-4 brd1 brd-c2 p-30">
     <h2 class="color4 bk3 p-10 w-80 m-a mb-10">Carte</h2>

    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sN5CHWdfQM-NmWZMigsOKCfAGAZyzKYD" class="d-block m-a w-100 hmin50vh"></iframe>
</div>