<div class="t-a-center white d-block p-10 footer-widget white p-10">
    <a id="article-meteo"></a>
    <h2 class="color4 bk3 p-10 w-80 m-a mb-10"><i class="fal fa-sun-cloud white"></i> MÉTÉO</h2>
    <!-- widget meteo -->
    <div id="cont_e963c5b6c14bab0c9c057703ca29e909"><script type="text/javascript" async src="https://www.tameteo.com/wid_loader/e963c5b6c14bab0c9c057703ca29e909"></script></div>


     

</div>


	