<div class="d-none d-md-flex container m-a filter-button-group button-group js-radio-button-group row">
  <button data-filter="*" autofocus="autofocus" id="all" class="mr-10 pb5 pt5 pl10 pr10 op8 filter-button bk3 brd2 brd-c3 white t4 t-a-center mb10 ">Tout</button>
  {% for taxo in taxos  if taxo.name == 'culture' or taxo.name =='vie locale' or taxo.name == 'vie associative' %}
  
   <div>
    <button   data-filter=".{{ taxo.id }}" class="pb5 pt5 pl10 pr10 {% for act in acts %} {% for term in act.terms  %} {% if taxo.name == term.name  %}{% if taxo.name == 'culture' or ter.name == 'vie associative' %} d-inline-block {% else %} d-none {% endif %} {% else %} d-none {% endif %} {% endfor %} {% endfor %} filter-button {% for act in acts %} {% for term in act.terms  %} {% if taxo.name == term.name  %}{% if term.parent == 0 %} bk3 brd-c5 white {% elseif term.parent > 0 %} bk4 brd-c5 color3 {% endif %}{% endif %} {% endfor %} {% endfor %} brd2 op8 mb10">{{ taxo.name|capitalize }}</button>
  </div>
    {# <button   data-filter=".{{ taxo.id }}" class="m-a pb5 pt5 pl10 pr10 {% for act in acts %} {% for term in act.terms  %} {% if taxo.name == term.name %} d-inline-block {% else %} d-none {% endif %} {% endfor %} {% endfor %} filter-button bk4 brd2 brd-c5 color8  op8  mb10">{{ taxo.name|capitalize }}</button> #}
    {% endfor %}
 
  
</div>