<div class="t-a-center white d-block p-10 footer-widget col-12 col-md-6 brd1 brd-c2 p-30">
    
    {% include 'partial/blocs/ephemeride.twig' %}
    {% include 'partial/blocs/emergency.twig' %}
    {% include 'partial/blocs/meteo.twig' %}
</div>
	