<header class="header container-fluid p-0">
    <div class="row p-0">

        <div class="col-5 col-md-2 col-lg-2">
            <a href=" {{ site.url }} ">
                <img class=" d-block w-60 m-a mt10 r-50" src="{{ theme.link }}/assets/img/logo.jpg" alt="logo">
            </a>
        </div>
        <div class="d-block d-md-none offset-5 offset-md-9"></div> 
       
        {% include "views/partial/menus/desk-dropdown2.twig" %}
        {# {% include "views/partial/menus/desk-dropdown2.twig" %} #}
        {# {% include "views/partial/menus/smart-dropdown.twig" %} #}



    </div>
</header>